.mealPlan {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  color: #111;
}

#formCalorie {
  display: inline-block;
  margin: 40px;
}
.mealIntro {
  text-align: center;
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
}

.mealPlanHeader {
  margin: 50px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 58px;
}

.mealPlanWrapper {
  display: inline-block;
  margin: 50px;
  margin-left: 140px;
}

.mealTextWrapper {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 60px;
  position: relative;
}

.calorieHeader {
  background-color: #190b57;
  color: #fff;
  border-top-right-radius: 52px;
  border-top-left-radius: 52px;
  padding: 5px;
  text-align: center;
  font-size: 26px;
}

.calorieCalc {
  background: #fff;
  display: inline-block;
  margin: 50px;
  border: 2px solid #190b57;
  border-radius: 55px;
}

.mealPlanWrapper {
  display: inline-block;
}

.outputCalories {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  padding: 30px;
  font-size: 22px;
  border: 1px #190b57 solid;
  border-bottom: 0px;
  font-weight: bold;
  border-top-right-radius: 52px;
  border-top-left-radius: 52px;
}

div.outputCalories:hover {
  background: #190b57;
  color: #fff;
  position: relative;
}

.outputHeader {
  margin: 50px;
  text-align: center;
  display: block;
  font-size: 30px;
}

.weightChange {
  text-align: center;
  display: block;
  margin-left: 150px;
  margin-right: 150px;
  padding: 30px;
  font-size: 22px;
  border: 1px #190b57 solid;
  font-weight: bold;
  border-bottom-right-radius: 52px;
  border-bottom-left-radius: 52px;
}

.weightChange img {
  height: 90px;
  width: 100px;
}

.selectOptionActivity {
  display: block;
  padding: 10px;
  font-size: 25px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(228, 222, 222);
}

label {
  display: block;
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

input {
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
}

.inputNumberLog {
  width: 93%;
}

.selectOption {
  display: block;
  padding: 10px;
  font-size: 25px;
  width: 100%;
  border-radius: 5px;
}

.btnSubmit {
  background-color: #190b57;
  color: #fff;
  width: 100%;
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.calorieResult {
  margin: 10px 2px 10px 2px;
  padding: 3px;
}
.weightChange h4 {
  margin-top: 2px;
}

div.weightChange:hover {
  background: #190b57;
  color: #fff;
  position: relative;
}

#lineTop {
  border-top: 1px solid #fff;
}
