.bmiCalc {
  display: flex;
}

.bmiCalcHeader {
  background-color: #3b7ab6;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 26px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

form {
  margin: 50px;
  margin-left: 150px;
  float: left;
}

label,
input {
  display: block;
  margin: 10px;
  font-size: 25px;
}

input {
  padding: 10px 3px;
}

input [type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  background: #dddddd;
  color: #000000;
  border: none;
  cursor: pointer;
}

.selectOption {
  display: block;
  margin: 10px;
  padding: 10px 3px;
  font-size: 25px;
}

.outputBmi {
  text-align: center;
  color: white;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  border: 1px solid;
}

.btnSubmit {
  background-color: #3b7ab6;
  color: white;
  width: 94%;
  font-size: 15px;
}

.bmiTextWrapper {
  display: inline-block;
  margin-right: 25px;
}

.bmiTextHeader {
  margin: 60px;
  padding: 10px;
  display: block;
  color: white;
  text-align: center;
  font-size: 58px;
}

.secondHeaderText {
  color: white;
  text-align: center;
  display: inline-block;
  padding: 5px;
  font-size: 22px;
}

.thirdHeaderText {
  color: white;
  text-align: center;
  display: inline-block;
  padding: 5px;
  font-size: 22px;
}

#formBmi {
  margin: 40px;
  display: inline;
  color: #fff;
}

.bmiPage {
  display: inline-block;
  margin: 50px;
  margin-left: 140px;
  border: 2px solid;
}
