.nutritionValue {
  display: flex;
  background-color: #fff;
  color: #111;
}

.nutriText {
  text-align: center;
  display: inline-block;
  padding: 5px;
  font-size: 28px;
  font-weight: bold;
}

.nutriValue {
  display: inline-block;
  margin: 20px;
}
.nutriHeader {
  margin-top: 30px;
  display: block;
  text-align: center;
  font-size: 58px;
}

.nutriValueWrapper {
  display: block;
}

.nutriSearch {
  margin-bottom: 20px;
  display: flex;
  font-size: 22px;
  text-align: center;
}

.searchBox {
  display: inline-block;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.searchWrapper {
  margin: 30px 30px 30px 50px;
  padding: 30px;
  border: 2px solid #5915cc;
  border-radius: 55px;
}
.headerSearch {
  margin: 0px;
  display: inline-block;
  text-align: center;
}

.btnSubmitNutri {
  background-color: #4227bb;
  color: #fff;
  width: 340px;
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.headerOutput {
  text-align: center;
  margin: 10px;
  font-size: 36px;
}

.foodOutput {
  display: flex;
  text-align: center;
  margin: 50px;
}

h2 {
  padding: 20px;
}

#commonOutput {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  float: left;
}
#commonOutput h2 {
  background-color: #5915cc;
  color: #fff;
  border-radius: 55px;
}
#brandedOutput {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  float: right;
}
#brandedOutput h2 {
  background-color: #5915cc;
  color: #fff;
  border-radius: 55px;
}

.foodList {
  width: 850px;
  height: 250px;
  display: inline-block;
}

.outputList {
  margin: 10px;
}

.outputList a {
  font-size: 26px;
  color: #111;
  text-decoration: none;
}

.outputList a:hover {
  padding: 10px;
  background-color: #5915cc;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #5915cc;
  border-radius: 55px;
}
