.trainLog {
  display: flex;
  color: #111;
}

.trainLogWrapper {
  display: inline-block;
  margin: 50px;
  margin-left: 140px;
}

#formTraining {
  display: inline-block;
  margin: 40px;
}

.inputLog {
  background: #fff;
  display: inline-block;
  margin: 50px;
  border: 2px solid #190b57;
  border-radius: 55px;
}

.btnSubmitExercise {
  background-color: #190b57;
  color: #fff;
  width: 100%;
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.inputLogHeader {
  background-color: #190b57;
  color: #fff;
  border-top-right-radius: 52px;
  border-top-left-radius: 52px;
  padding: 5px;
  text-align: center;
  font-size: 26px;
}

.trainingTextWrapper {
  display: inline-block;
  margin-right: 55px;
  position: relative;
}

.trainText {
  text-align: center;
  display: inline-block;
  padding: 5px;
  font-size: 28px;
  font-weight: bold;
}
.exerciseOutput {
  color: #111;
  width: 100%;
  display: table;
}

.trainingLogHeader {
  margin: 50px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 58px;
}

.exerciseData {
  background: #190b57;
  color: #fff;
  text-align: center;
  display: block;
  margin-left: 150px;
  margin-right: 150px;
  padding: 30px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 52px;
}

.exerciseData img {
  height: 150px;
  width: 150px;
}

.exerciseResult {
  margin: 10px 2px 10px 2px;
  padding: 3px;
}
