.trainLog {
  display: flex;
}

.trainLogWrapper {
  display: inline-block;
  margin: 50px 50px 50px 140px;
}

.inputLog {
  display: inline-block;
  background-color: #fff;
  margin: 50px;
  border: 2px solid #5915cc;
  border-radius: 55px;
}

.btnSubmitExercise {
  background-color: #4227bb;
  color: #fff;
  width: 100%;
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.inputLogHeader {
  background-color: #5915cc;
  color: #fff;
  border-top-right-radius: 52px;
  border-top-left-radius: 52px;
  padding: 5px;
  text-align: center;
  font-size: 26px;
}

.trainingTextWrapper {
  display: inline-block;
  margin-right: 25px;
  position: relative;
}

.trainText {
  text-align: center;
  display: inline-block;
  padding: 5px;
  font-size: 28px;
  font-weight: bold;
}
.exerciseOutput {
  color: #111;
  width: 100%;
  display: table;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px #5915cc solid;
	display: table-cell;
  padding: 5px;
  text-align: center;
}