.userLog {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 150px;
  padding: 30px;
  font-size: 22px;
  border: 1px #5915cc solid;
  font-weight: bold;
  border-radius: 52px;
  background: #fff;
}