.userLog {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 180px;
  padding: 30px 120px 20px 120px;
  font-size: 22px;
  border: 1px #190b57 solid;
  font-weight: bold;
  border-radius: 52px;
  background: #fff;
}

.userLog img {
  height: 150px;
  width: 150px;
  margin: 20px;
}

.userLogResults {
  margin: 10px 2px;
  padding: 3px;
  border: 1px solid #190b57;
  border-radius: 10px;
  width: 700px;
  display: inline-block;
}

.userLogInfo {
  padding: 30px;
}

div.userLogInfo:hover {
  margin: 20px;
  background: #190b57;
  color: #fff;
  border-radius: 50px;
}

div.bmiInfo:hover {
  margin: 20px;
  background: #190b57;
  color: #fff;
  border-radius: 50px;
}

div.calorieInfo:hover {
  margin: 20px;
  background: #190b57;
  color: #fff;
  border-radius: 50px;
}

div.trainingInfo:hover {
  margin: 20px;
  background: #190b57;
  color: #fff;
  border-radius: 50px;
}

.tableResults {
  margin: 10px 2px 10px 2px;
  padding: 3px;
  border: 1px solid #190b57;
  border-radius: 10px;
  width: 700px;
  display: inline-block;
}

.tableResults:hover {
  background: #190b57;
  color: #fff;
}

.topLineCal {
  border-top: 1px solid #190b57;
  width: 650px;
  display: inline-block;
  padding: 3px;
}