.footerBar {
  overflow: hidden;
  background: linear-gradient(to left, #4838a7, #190b57);
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  text-align: center;
}

.footerBar a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  height: 20px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  font-size: 16px;
  display: inline-block;
}

.footerBar a:hover {
  color: #fff;
}

.footerBar a.active {
  border: 3px solid #fff;
  border-radius: 30px;
}

.footerBar img {
  height: 60px;
  padding: 20px;
}

.homeLink {
  display: inline-block;
}