.displayCase {
  font-size: 90%;
  margin-bottom: 1.1em;
  padding: 0.68em;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}

.btnSubmitDisplay {
  margin: 20px 30px 40px 30px;
  text-align: center;
  display: block;
}

.displayWrapper {
  display: block;
}

.outputDisplay {
  display: block;
  text-align: left;
  margin: 40px;
  padding: 60px;
  background: #fff;
  border: 20px #111 solid;
  width: 20%;
}

li {
  text-align: center;
  display: flex;
}

h1 {
  text-align: center;
  margin-top: 0px;
}
.foodPicture {
  text-align: center;
  display: inline;
}

.foodName {
  text-align: center;
}

.selectedFood {
  display: flex;
  margin-bottom: 20px; 
}

.foodName {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 34px;
}

.foodPicture {
  display: block;
}

.bar1 {
  height: 10px;
  line-height: 0;
  font-size: 1px;
  background: #333;
  margin-top: 3px;
}

.bar2 {
  height: 5px;
  line-height: 0;
  font-size: 1px;
  background: #333;
}

.indent {
  margin-left: 15px;
}

.line {
  border-top: 1px solid #333;
  padding: 1px 0;
}
.bold {
  font-weight: bold;
}

img {
  margin-right: 20px;
  max-width: 110px;
  max-height: 110px;
}