.displayCase {
  font-size: 90%;
  margin-bottom: 1.1em;
  padding: 0.68em;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  display: grid;
  grid-template-columns: 630px 630px 630px;
  grid-template-rows: 600px 00px 600px;
}

.btnSubmitDisplay {
  margin: 20px 30px 40px 30px;
  text-align: center;
  display: block;
}

.displayWrapper {
  display: block;
}

.outputDisplay {
  display: block;
  text-align: left;
  margin: 40px;
  padding: 60px;
  background: #fff;
  border: 20px #5915cc solid;
  border-radius: 55px;
  overflow-y: scroll;
  font-weight: bold;
}

div.outputDisplay:hover {
  background: linear-gradient(to right, #30256b, #3116aa);
  color: #fff;
  position: relative;
}


li {
  text-align: center;
  display: flex;
}

h1 {
  text-align: center;
  margin-top: 0px;
  font-size: 45px;
}
.foodPicture {
  text-align: center;
  display: inline;
}

.foodName {
  text-align: center;
}

.selectedFood {
  display: flex;
  margin-bottom: 20px; 
}

.foodName {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 34px;
}

.foodPicture {
  display: block;
}

.bar1 {
  height: 10px;
  line-height: 0;
  font-size: 1px;
  background: #5915cc;
  margin-top: 3px;
}

.bar2 {
  height: 5px;
  line-height: 0;
  font-size: 1px;
  background: #5915cc;
}

.indent {
  margin-left: 15px;
}

.line {
  border-top: 1px #5915cc solid;
  padding: 1px 0;
}

.foodImg {
  margin-right: 20px;
  max-width: 110px;
  max-height: 110px;
}

.exerciseOutput {
  margin-top: 30px;
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

.exerciseOutput {
  font-size: 40px;
  text-align: center;
}

.outputRecipe {
  color: #111;
  font-size: 24px;
}

.valuesRecipe {
  display: flex;
}

.nutrientsRecipe {
  margin: 2px;
  padding: 2px;
}

.headerIngredients {
  text-align: center;
}

.ingredientsRecipe {
  text-align: justify;
}

.recipeText {
  text-align: center;
}