.homePage {
  display: flex;
  padding: 14px;

}
.homeHeader {
  margin-top: 30px;
  height: 50px;
  padding: 50px;
  color: #111;
  text-align: center;
  font-size: 60px;
}

.homeMsg {
  color: #111;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}

h2 a {
  color: #111;
}

.tabPage {
  margin: 140px;
  font-size: 28px;
  text-align: center;
  display: flex;
}

.tabs {
  margin: 16px;
  margin-top: 0px;
  padding: 2px;
  border: 5px rgb(223, 218, 218) solid;
  width: 30%;
  height: 500px;
  border-radius: 45px;
  box-shadow: 2px 4px rgb(212, 210, 210);
  position: relative;
}

div.tabs:hover {
  cursor: pointer;
  opacity: 0.9;
  background: #190b57;
  color: #fff;
  position: relative;
  top: -20px;
}

a.divLink {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.imageTab img {
  display: inline-block;
  margin: 20px;
  margin-bottom: 5px;
  height: 190px;
}

.headerTab {
  display: inline-block;
  color: #111;
}

.secondHeaderTab {
  display: inline-block;
  margin: 3px;
  color: #111;
}

.browseTabs {
  padding-top: 40px;
  font-size: 36px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@media screen and (max-width:800px) {
  .homeTextWrapper, .tabPage, .homeMsg {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}