.headerbar {
  overflow: hidden;
  background-color: #3b7ab6;
}

.headerbar a {
  float: left;
  color: #000000;
  text-align: center;
  text-decoration: none;
  height: 80px;
  margin: 20px;
  padding-left: 20px;
  align-items: center;
  font-size: 20px;
  display: flex;
}



.headerbar a:hover {
  color: #111;
}

.headerbar a.active {
  color: #111;
}

.homePage {
  background-color: #0e0633;
  height: 100%;
  display: flex;
  padding: 14px;
}

.homeHeader {
  background-color: #0e0633;
  height: 50px;
  padding: 50px;
  color: white;
  text-align: center;
}

.homeMsg {
  background-color: #0e0633;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 45px;
}

.listItems {
  margin: 30px;
  padding: 50px;
  font-size: 28px;
  text-align: center;
  display: inline-block;
  list-style-position: inside;
  text-indent: -1em;
}

.homePhoneWrapper {
  display: inline-block;
  margin: 50px;
  margin-left: 140px;
}

.homeTextWrapper {
  display: inline-block;
}

.downloadSec {
  font-size: 26px;
}

.iosLogo {
  display: inline-block;
}

.androidLogo {
  display: inline-block;
}
