.scroll {
  opacity: 0.3;
  margin: 10px;
  background: linear-gradient(to left, #4838a7, #190b57);
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}

.scroll:hover {
  opacity: 1;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  display: inline-block;
  border-bottom: 15px solid #fff;
  top: 50%;
  left: 50%;
}
